# ğŸ’¡ Project2 : ìë¹„ìŠ¤ì•¤ë¹ŒëŸ°ì¦ˆ

## í…Œì´ë¸”ì˜ ë‚´ìš©ì€ ì•„ë˜ì˜ ë‚´ìš©ì„ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.
1. ê³ ê°ì´ ê° ê·€ì†ë…„ë„ë³„
1. ê·¼ë¡œ / ì‚¬ì—… / ê¸°íƒ€ ì†Œë“ì— ëŒ€í•œ ì˜ˆìƒí™˜ê¸‰ì•¡ê³¼ ìˆ˜ìˆ˜ë£Œë¥¼ ì¡°íšŒí•œ ë’¤
1. ê²°ì œë¥¼ í•˜ê±°ë‚˜ í•˜ì§€ ì•Šì€ ì—¬ë¶€ë¥¼ ì €ì¥

## ì»¬ëŸ¼ ì •ë³´ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.
- age: ê³ ê°ì˜ ë§Œ ë‚˜ì´ì…ë‹ˆë‹¤. 
- gender: ê³ ê°ì˜ ì„±ë³„ì…ë‹ˆë‹¤.
- year: ì†Œë“ì´ ë°œìƒí•œ ì—°ë„(ê·€ì†ë…„ë„)ì…ë‹ˆë‹¤.
- refund: ì˜ˆìƒí™˜ê¸‰ì•¡ì…ë‹ˆë‹¤.
- fee: ìˆ˜ìˆ˜ë£Œì…ë‹ˆë‹¤.
- has_paid: ìˆ˜ìˆ˜ë£Œë¥¼ ê²°ì œí–ˆëŠ”ì§€ì˜ ì—¬ë¶€
- income_ê·¼ë¡œ: ê³ ê°ì˜ ê·¼ë¡œì†Œë“(ì›”ê¸‰/ì¼ìš©ì§ê¸‰ì—¬)
- income_ì‚¬ì—…: ê³ ê°ì˜ ì‚¬ì—…ì†Œë“(í”„ë¦¬ëœì„œ ì†Œë“)
- income_ê¸°íƒ€: ê³ ê°ì˜ ê¸°íƒ€ì†Œë“(ê·¸ì™¸ ê¸°íƒ€ ì†Œë“)

## ì•„ë˜ì˜ ì§ˆë¬¸ì— ë‚˜ë¦„ì˜ ë°©ì‹ìœ¼ë¡œ ë‹µì„ ì°¾ì•„ì£¼ì„¸ìš”.
(ì •ë‹µì€ ì—†ìŠµë‹ˆë‹¤. ë¬¸ì œë¥¼ ì •ì˜í•˜ê³ , í•´ë‹µì— ì´ë¥´ê²Œ ëœ ê³¼ì •ê³¼ ê·¸ í•´ì„ì„ ì˜ ì„¤ë“/ì„¤ëª…í•´ ì£¼ì‹œëŠ” ê²ƒì´ ì¤‘ìš”í•©ë‹ˆë‹¤.)

- ê³ ê°ì˜ ê²°ì œì—¬ë¶€ì— ì˜í–¥ì„ ë¯¸ì¹˜ëŠ” ìš”ì¸ë“¤ì€ ë¬´ì—‡ì¸ê°€ìš”? 
- ê³ ê°ì˜ ìˆ˜ìˆ˜ë£Œ ê²°ì œê¸ˆì•¡ì˜ í•©ì„ ë†’íˆê¸° ìœ„í•´ì„œëŠ” ì–´ë–»ê²Œ í•´ì•¼ í• ê¹Œìš”?

In [1]:
import pandas as pd
from zipfile import ZipFile

In [2]:
archive = ZipFile("Jobis_pre_onboard_data.zip")
df = pd.concat(pd.read_csv(archive.open(filename)) for filename in archive.namelist())

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   age        100000 non-null  float64
 1   gender     100000 non-null  object
 2   year       100000 non-null  int64
 3   refund     100000 non-null  float64
 4   fee        100000 non-null  float64
 5   has_paid   100000 non-null  bool
 6   income_ê·¼ë¡œ  40791 non-null   float64
 7   income_ì‚¬ì—…  78227 non-null   float64
 8   income_ê¸°íƒ€  25260 non-null   float64
dtypes: bool(1), float64(6), int64(1), object(1)
memory usage: 6.2+ MB

In [6]:
df.head()

,age,gender,year,refund,fee,has_paid,income_ê·¼ë¡œ,income_ì‚¬ì—…,income_ê¸°íƒ€
0,27.0,F,2019,5000.0,400.0,False,10001000.0,61000.0,NaN
1,34.0,M,2018,100000.0,1700.0,True,18092000.0,NaN,1815000.0
2,28.0,F,2017,289000.0,11500.0,False,NaN,1461000.0,NaN
3,27.0,M,2019,410000.0,16200.0,False,NaN,2471000.0,NaN
4,26.0,F,2016,114000.0,4300.0,True,0.0,689000.0,NaN